 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

html, body {
  font-family: 'Nunito', sans-serif;
}

/*Remove Chrome autofill background/effects */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fffdf5 inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s !important;
}


/* Hide all scrollbars globally */
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Optional: remove scrollbar for body and html */
html, body {
  overflow: auto; /* still scrollable */
}


